:root{
    --border-color: #ccc;
    --accent-color: #2c88d9;
    --focus-color: #796ef5;
}

.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-page{
    min-height: 100vh;
}

.subject-pane{
    padding: 20px;
    border-right: 2px solid var(--border-color);
}

.search-bar{
    padding: 10px 0;
    padding-left: 10px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    min-width: 100%;
}

.search-bar:focus {
    outline: none;
    border-color: var(--focus-color);
}

.books-pane{
    flex: 1;
}

.books-component{
    margin-top: 2rem;
    padding: 10px;
    align-items: flex-end;
    width: 90%;
}
.books-table table, th, td{
    border: 2px solid var(--border-color);
    border-collapse: collapse;
    padding: 5px;
}

.books-table, .books-table table{
    width: 100%;
    min-height: 50vh;
}

td, th{
    text-align: left;
}

.title-bar{
    margin-top: 0.6rem;
    border-bottom: 2px solid var(--border-color);
    align-items: center;
    gap: 10px;
    padding: 10px;
}

h1 , h3{
    margin: 0;
}

.pagination{
    gap: 10px;
    margin-top: 10px;
}
.loader{
    width: 100%;
    text-align: center;
    min-height: 50vh;
}

.search-bar-container{
    min-width: 35%;
    position: relative;
    margin: 10px;
}
.search-bar-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--border-color);
}

.page-button{
    align-items: center;
    padding: 5px;
}

.reset-button{
    height: 40px;
    width: 40px;
    color: var(--border-color);
    border-color: var(--border-color);
}
.subject-item{
    cursor: pointer;
}
button{
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    color: var(--accent-color);
    background: none;
    cursor: pointer;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}