:root{
    --border-color: #ccc;
    --accent-color: #2c88d9;
}

.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-page{
    min-height: 100vh;
}

.subject-pane{
    padding: 20px;
    border-right: 2px solid var(--border-color);
}

.search-bar{
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    min-width: 25%;
}

.books-pane{
    flex: 1;
}

.books-component{
    margin-top: 2rem;
    padding: 10px;
    align-items: flex-end;
    width: 90%;
}
.books-table table, th, td{
    border: 2px solid var(--border-color);
    border-collapse: collapse;
    padding: 5px;
}

.books-table, .books-table table{
    width: 100%;
}

td, th{
    text-align: left;
}

.title-bar{
    margin-top: 2rem;
    border-bottom: 2px solid var(--border-color);
    align-items: center;
    gap: 10px;
    padding: 10px;
}

h1 , h3{
    margin: 0;
}

.pagination{
    gap: 10px;
    margin-top: 10px;
}
.loader{
    width: 100%;
    text-align: center;
}

.search-bar-container{
    position: relative;
}
.search-bar-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--border-color);
}
